body {
    font-family: 'Times New Roman', serif;
    background-size: cover;
    padding: 20px;
    background-image: url('final.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Isso mantém o fundo parado enquanto o texto rola */
}


h1 {
    font-family: 'times new roman', serif;
    text-align: center;
    color: #C85000; 
    font-size: 80px;    
}

